# XC9536XL-PCG44-10C

NET RESET               LOC = P39;
NET CLK                 LOC = P5;

NET bcd_out<0>          LOC = P1;
NET bcd_out<1>          LOC = P2;
NET bcd_out<2>          LOC = P3;
NET bcd_out<3>          LOC = P4;

NET HexSW_A             LOC = P8;
NET HexSW_B             LOC = P9;
NET HexSW_C             LOC = P11;
NET HexSW_D             LOC = P12;

NET LED<0>             LOC = P19;
NET LED<1>             LOC = P28;
NET LED<2>             LOC = P26;
NET LED<3>             LOC = P25;
NET LED<4>             LOC = P22;
NET LED<5>             LOC = P20;
NET LED<6>             LOC = P27;
NET LED<7>             LOC = P24;
