  # NET  +<1>	  LOC = AE28;
  # NET  +<2>	  LOC ="L2| IOSTANDARD = "LVTTL";
  # NET  +<3>	  LOC ="AJ18| IOSTANDARD = "LVTTL";
  # NET  ADDON_TO_TRB_CLKINN	  LOC ="G16";
  # NET  ADDON_TO_TRB_CLKINP	  LOC ="G17";
  # NET "ADDON_TO_TRB_CLKINP" TNM_NET = ADDON_TO_TRB_CLKINP;
  # TIMESPEC TS_ADDON_TO_TRB_CLKINP =PERIOD "ADDON_TO_TRB_CLKINP" 9 ns; # ADDON_CONSTRAINTS

#zuzuzu
	#NET "ADO_LV_in<0>" CLOCK_DEDICATED_ROUTE = FALSE;
	#NET "ADO_LV_in<2>" CLOCK_DEDICATED_ROUTE = FALSE;


	
	NET  ADO_LV_in<0>	  LOC ="AC3";#| IOSTANDARD = "LVDS_25";
   NET  ADO_LV_in<1>	  LOC ="AC2";#| IOSTANDARD = "LVDS_25";#| IOSTANDARD = "LVTTL";
   NET  ADO_LV_in<2>	  LOC ="Y11";#| IOSTANDARD = "LVDS_25";
   NET  ADO_LV_in<3>	  LOC ="AA11";#| IOSTANDARD = "LVDS_25";
   NET  ADO_LV_in<4>	  LOC ="AD2";
   NET  ADO_LV_in<5>	  LOC ="AD1";
	NET ADO_LV_in<4> CLOCK_DEDICATED_ROUTE = FALSE;
	
   NET  ADO_LV<0>	  LOC ="AC9"| IOSTANDARD = "LVDS_25";
   NET  ADO_LV<1>	  LOC ="AC8"| IOSTANDARD = "LVDS_25";
################umbenannt!!!!!!!!############################
#   NET  ADO_LV<2>	  LOC ="AG3"| IOSTANDARD = "LVDS_25";
#   NET  ADO_LV<3>	  LOC ="AF3"| IOSTANDARD = "LVDS_25";#| IOSTANDARD = "LVTTL";
#   NET  ADO_LV_in<4>	  LOC ="AF6"| IOSTANDARD = "LVDS_25";
#   NET  ADO_LV_in<5>	  LOC ="AE6"| IOSTANDARD = "LVDS_25";
###############################################################
   # NET  ADO_LV<6>	  LOC ="AF5";
   # NET  ADO_LV<7>	  LOC ="AF4";
   # NET  ADO_LV<8>	  LOC ="AL1";
   # NET  ADO_LV<9>	  LOC ="AK1";
   # NET  ADO_LV<10>	  LOC ="AJ2";
   # NET  ADO_LV<11>	  LOC ="AJ1";
   # NET  ADO_LV<12>	  LOC ="AB6";
   # NET  ADO_LV<13>	  LOC ="AB5";
	
################umbenannt!!!#############	
   # NET  ADO_LV<14>	  LOC ="AC3";
   # NET  ADO_LV<15>	  LOC ="AC2";
   # NET  ADO_LV<16>	  LOC ="Y11";
   # NET  ADO_LV<17>	  LOC ="AA11";
   # NET  ADO_LV<18>	  LOC ="AD2";
   # NET  ADO_LV<19>	  LOC ="AD1";
###########################################
   # NET  ADO_LV<20>	  LOC ="Y14";
   # NET  ADO_LV<21>	  LOC ="AA13";
   # NET  ADO_LV<22>	  LOC ="AC5";
   # NET  ADO_LV<23>	  LOC ="AC4";
   # NET  ADO_LV<24>	  LOC ="AF1";
   # NET  ADO_LV<25>	  LOC ="AE1";
   # NET  ADO_LV<26>	  LOC ="AE3";
   # NET  ADO_LV<27>	  LOC ="AE2";
   # NET  ADO_LV<28>	  LOC ="AD6";
   # NET  ADO_LV<29>	  LOC ="AD5";
   # NET  ADO_LV<30>	  LOC ="AC7";
   # NET  ADO_LV<31>	  LOC ="AB8";
   # NET  ADO_LV<32>	  LOC ="Y16";
   # NET  ADO_LV<33>	  LOC ="AA15";
   # NET  ADO_LV<34>	  LOC ="AE4";
   # NET  ADO_LV<35>	  LOC ="AD4";
   # NET  ADO_LV<36>	  LOC ="AH3";
   # NET  ADO_LV<37>	  LOC ="AH2";
   # NET  ADO_LV<38>	  LOC ="AG2";
   # NET  ADO_LV<39>	  LOC ="AG1";
   # NET  ADO_LV<40>	  LOC ="AK3";
   # NET  ADO_LV<41>	  LOC ="AK2";
   # NET  ADO_LV<42>	  LOC ="AF8";
   # NET  ADO_LV<43>	  LOC ="AE8";
   # NET  ADO_LV<44>	  LOC ="AH5";
   # NET  ADO_LV<45>	  LOC ="AH4";
   # NET  ADO_LV<46>	  LOC ="AB13";
   # NET  ADO_LV<47>	  LOC ="AB12";
   # NET  ADO_LV<48>	  LOC ="AM2";
   # NET  ADO_LV<49>	  LOC ="AM1";
   # NET  ADO_LV<50>	  LOC ="AG8";
   # NET  ADO_LV<51>	  LOC ="AG7";
   # NET  ADO_LV<52>	  LOC ="AM3";
   # NET  ADO_LV<53>	  LOC ="AL3";
   # NET  ADO_LV<54>	  LOC ="AK22";
   # NET  ADO_LV<55>	  LOC ="AK23";
   # NET  ADO_LV<56>	  LOC ="AL28";
   # NET  ADO_LV<57>	  LOC ="AL29";
   # NET  ADO_LV<58>	  LOC ="AP25";
   # NET  ADO_LV<59>	  LOC ="AP26";
   # NET  ADO_LV<60>	  LOC ="AJ27";
   # NET  ADO_LV<61>	  LOC ="AH27";
  # NET  ADO_TTL	  LOC ="AL11"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<0>	  LOC ="AL11"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<1>	  LOC ="AL10"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<2>	  LOC ="AE11"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<3>	  LOC ="AF11"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<4>	  LOC ="AM12"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<5>	  LOC ="AM11"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<6>	  LOC ="AL9"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<7>	  LOC ="AK9"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<8>	  LOC ="AP11"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<9>	  LOC ="AP10"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<10>	  LOC ="AH10"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<11>	  LOC ="AG10"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<12>	  LOC ="AN12"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<13>	  LOC ="AP12"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<14>	  LOC ="AP9"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<15>	  LOC ="AN9"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<16>	  LOC ="AH12"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<17>	  LOC ="AG11"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<18>	  LOC ="AN7"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<19>	  LOC ="AM7"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<20>	  LOC ="AN10"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<21>	  LOC ="AM10"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<22>	  LOC ="AF10"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<23>	  LOC ="AE9"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<24>	  LOC ="AJ12"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<25>	  LOC ="L33"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<26>	  LOC ="L34"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL<27>	  LOC ="M32"| IOSTANDARD = "LVTTL";
#   NET  ADO_TTL<28>	  LOC ="M33"| IOSTANDARD = "LVTTL";
#   NET  ADO_TTL<29>	  LOC ="D5"| IOSTANDARD = "LVTTL";
#   NET  ADO_TTL<30>	  LOC ="G7"| IOSTANDARD = "LVTTL";
#   NET  ADO_TTL<31>	  LOC ="G6"| IOSTANDARD = "LVTTL";
#   NET  ADO_TTL<32>	  LOC ="E14"| IOSTANDARD = "LVTTL";
#   NET  ADO_TTL<33>	  LOC ="D14"| IOSTANDARD = "LVTTL";
#   NET  ADO_TTL<34>	  LOC ="AL20"| IOSTANDARD = "LVTTL";
#   NET  ADO_TTL<35>	  LOC ="AJ15"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL_36	  LOC ="AJ14"| IOSTANDARD = "LVTTL";
   NET  ADO_TTL_37	  LOC ="AG20"| IOSTANDARD = "LVTTL";
#   NET  ADO_TTL<38>	  LOC ="AH20"| IOSTANDARD = "LVTTL";
#   NET  ADO_TTL<39>	  LOC ="AG15"| IOSTANDARD = "LVTTL";
#   NET  ADO_TTL<40>	  LOC ="AH14"| IOSTANDARD = "LVTTL";
  # NET  ADO_TTL<41>	  LOC ="AL16"| IOSTANDARD = "LVTTL";
  # NET  ADO_TTL<42>	  LOC ="AK16"| IOSTANDARD = "LVTTL";
  # NET  ADO_TTL<43>	  LOC ="C28"| IOSTANDARD = "LVTTL";
  # NET  ADO_TTL<44>	  LOC ="L26"| IOSTANDARD = "LVTTL";
  # NET  ADO_TTL<45>	  LOC ="B32"| IOSTANDARD = "LVTTL";
  # NET  ADO_TTL<46>	  LOC ="B33"| IOSTANDARD = "LVTTL";
  # NET  A_CSB	  LOC ="P9";
  # NET  A_CS	  LOC ="P10";
  # NET  A_DATA_READY	  LOC ="B12"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  A_RESERVED	  LOC ="J11"| IOSTANDARD = "LVTTL";
  # NET  A_SCK	  LOC ="H3";
  # NET  A_SCKB	  LOC ="H2";
  # NET  A_SDI	  LOC ="F1";
  # NET  A_SDIB	  LOC ="G1";
  # NET  A_SDO	  LOC ="J4";
  # NET  A_SDOB	  LOC ="K4";
  # NET  A_TDC_BU_RESET	  LOC ="AK27";
  # NET  A_TDC_BU_RESETB	  LOC ="AK28";
  # NET  A_TDC_ERROR	  LOC ="F11"| IOSTANDARD = "LVTTL";
  # NET  A_TDC_EV_RESET	  LOC ="AK24";
  # NET  A_TDC_EV_RESETB	  LOC ="AJ24";
  # NET  A_TDC_POWERUP	  LOC ="H8"| IOSTANDARD = "LVTTL";
  # NET  A_TEMP	  LOC ="B7"| IOSTANDARD = "LVTTL";
  # NET  A_TEST1B	  LOC ="N7";
  # NET  A_TEST2B	  LOC ="L4";
  # NET  A_TEST1 	  LOC ="M7";
  # NET  A_TEST2	          LOC ="L5";
  # NET  A_TRIGGER	  LOC ="J6";
  # NET  A_TRIGGERB	  LOC ="J5";
  # NET  B_CSB	  LOC ="G5";
  # NET  B_CS	  LOC ="F5";
  # NET  B_DATA_READY	  LOC ="A8"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  B_RESERVED	  LOC ="C7"| IOSTANDARD = "LVTTL";
  # NET  B_SCK	  LOC ="C4";
  # NET  B_SCKB	  LOC ="C3";
  # NET  B_SDI	  LOC ="R11";
  # NET  B_SDIB	  LOC ="T11";
  # NET  B_SDO	  LOC ="G3";
  # NET  B_SDOB	  LOC ="G2";
  # NET  B_TDC_BU_RESET	  LOC ="AG25";
  # NET  B_TDC_BU_RESETB	  LOC ="AG26";
  # NET  B_TDC_ERROR	  LOC ="A6"| IOSTANDARD = "LVTTL";
  # NET  B_TDC_EV_RESET	  LOC ="AG23";
  # NET  B_TDC_EV_RESETB	  LOC ="AF24";
  # NET  B_TDC_POWERUP	  LOC ="H7"| IOSTANDARD = "LVTTL";
  # NET  B_TEMP	  LOC ="A10"| IOSTANDARD = "LVTTL";
  # NET  B_TEST2B	  LOC ="L9";
  # NET  B_TEST1B	  LOC ="E4";
  # NET  B_TEST1 	  LOC ="D4";
  # NET  B_TEST2 	  LOC ="M10";
  # NET  B_TRIGGER	  LOC ="H5";
  # NET  B_TRIGGERB	  LOC ="H4";
  # NET  C_CSB	  LOC ="R9";
  # NET  C_CS	  LOC ="T10";
  # NET  C_DATA_READY	  LOC ="B8"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  C_RESERVED	  LOC ="F8"| IOSTANDARD = "LVTTL";
  # NET  C_SCK	  LOC ="P7";
  # NET  C_SCKB	  LOC ="P6";
  # NET  C_SDI	  LOC ="D1";
  # NET  C_SDIB	  LOC ="E1";
  # NET  C_SDO	  LOC ="F4";
  # NET  C_SDOB	  LOC ="F3";
  # NET  C_TDC_BU_RESET	  LOC ="AP31";
  # NET  C_TDC_BU_RESETB	  LOC ="AP32";
  # NET  C_TDC_ERROR	  LOC ="B6"| IOSTANDARD = "LVTTL";
  # NET  C_TDC_EV_RESET	  LOC ="AP27";
  # NET  C_TDC_EV_RESETB	  LOC ="AN27";
  # NET  C_TDC_POWERUP	  LOC ="K8"| IOSTANDARD = "LVTTL";
  # NET  C_TEMP	  LOC ="A9"| IOSTANDARD = "LVTTL";
  # NET  C_TEST2B	  LOC ="N12";
  # NET  C_TEST1B	  LOC ="D2";
  # NET  C_TEST1 	  LOC ="C2";
  # NET  C_TEST2	          LOC ="N13";
  # NET  C_TOKEN_OUT_TTL	  LOC ="F6"| IOSTANDARD = "LVTTL";
  # NET  C_TRIGGER	  LOC ="N10";
  # NET  C_TRIGGERB	  LOC ="N9";
  # NET  DBAD	  LOC ="M28"| IOSTANDARD = "LVTTL";
  # NET  DGOOD	  LOC ="H34"| IOSTANDARD = "LVTTL";
   NET  DINT	  LOC ="L31"| IOSTANDARD = "LVTTL";
#   NET  DSPADDR<0>	  LOC ="AA23"| IOSTANDARD = "LVTTL";
#   NET  DSPADDR<1>	  LOC ="AA24"| IOSTANDARD = "LVTTL";
#   NET  DSPADDR<2>	  LOC ="AJ34"| IOSTANDARD = "LVTTL";
#   NET  DSPADDR<3>	  LOC ="AH34"| IOSTANDARD = "LVTTL";
#   NET  DSPADDR<4>	  LOC ="AD27"| IOSTANDARD = "LVTTL";
#   NET  DSPADDR<5>	  LOC ="AC27"| IOSTANDARD = "LVTTL";
#   NET  DSPADDR<6>	  LOC ="AB25"| IOSTANDARD = "LVTTL";
#   NET  DSPADDR<7>	  LOC ="AB26"| IOSTANDARD = "LVTTL";
#   NET  DSPADDR<8>	  LOC ="AG30"| IOSTANDARD = "LVTTL";
#   NET  DSPADDR<9>	  LOC ="AG31"| IOSTANDARD = "LVTTL";
#   NET  DSPADDR<10>	  LOC ="AH32"| IOSTANDARD = "LVTTL";
#   NET  DSPADDR<11>	  LOC ="AH33"| IOSTANDARD = "LVTTL";
#   NET  DSPADDR<12>	  LOC ="AF29"| IOSTANDARD = "LVTTL";
#   NET  DSPADDR<13>	  LOC ="AF30"| IOSTANDARD = "LVTTL";
#   NET  DSPADDR<14>	  LOC ="AA28"| IOSTANDARD = "LVTTL";
#   NET  DSPADDR<15>	  LOC ="AA29"| IOSTANDARD = "LVTTL";
#   NET  DSPADDR<16>	  LOC ="W24"| IOSTANDARD = "LVTTL";
#   NET  DSPADDR<17>	  LOC ="Y24"| IOSTANDARD = "LVTTL";
#   NET  DSPADDR<18>	  LOC ="AB30"| IOSTANDARD = "LVTTL";
#   NET  DSPADDR<19>	  LOC ="AA30"| IOSTANDARD = "LVTTL";
#   NET  DSPADDR<20>	  LOC ="W25"| IOSTANDARD = "LVTTL";
#   NET  DSPADDR<21>	  LOC ="Y26"| IOSTANDARD = "LVTTL";
#   NET  DSPADDR<22>	  LOC ="AE33"| IOSTANDARD = "LVTTL";
#   NET  DSPADDR<23>	  LOC ="AE34"| IOSTANDARD = "LVTTL";
#   NET  DSPADDR<24>	  LOC ="AC32"| IOSTANDARD = "LVTTL";
#   NET  DSPADDR<25>	  LOC ="AC33"| IOSTANDARD = "LVTTL";
#   NET  DSPADDR<26>	  LOC ="AC29"| IOSTANDARD = "LVTTL";
#   NET  DSPADDR<27>	  LOC ="AC30"| IOSTANDARD = "LVTTL";
#   NET  DSPADDR<28>	  LOC ="AD34"| IOSTANDARD = "LVTTL";
#   NET  DSPADDR<29>	  LOC ="AC34"| IOSTANDARD = "LVTTL";
#   NET  DSPADDR<30>	  LOC ="AH18"| IOSTANDARD = "LVTTL";
#   NET  DSPADDR<31>	  LOC ="AK18"| IOSTANDARD = "LVTTL";
#   NET  DSPDAT<0>	  LOC ="AA25"| IOSTANDARD = "LVTTL";
#   NET  DSPDAT<1>	  LOC ="AA26"| IOSTANDARD = "LVTTL";
#   NET  DSPDAT<2>	  LOC ="AE32"| IOSTANDARD = "LVTTL";
#   NET  DSPDAT<3>	  LOC ="AD32"| IOSTANDARD = "LVTTL";
#   NET  DSPDAT<4>	  LOC ="AC28"| IOSTANDARD = "LVTTL";
#   NET  DSPDAT<5>	  LOC ="AB28"| IOSTANDARD = "LVTTL";
#   NET  DSPDAT<6>	  LOC ="AD30"| IOSTANDARD = "LVTTL";
#   NET  DSPDAT<7>	  LOC ="AD31"| IOSTANDARD = "LVTTL";
#   NET  DSPDAT<8>	  LOC ="AG32"| IOSTANDARD = "LVTTL";
#   NET  DSPDAT<9>	  LOC ="AG33"| IOSTANDARD = "LVTTL";
#   NET  DSPDAT<10>	  LOC ="AF33"| IOSTANDARD = "LVTTL";
#   NET  DSPDAT<11>	  LOC ="AF34"| IOSTANDARD = "LVTTL";
#   NET  DSPDAT<12>	  LOC ="AE29"| IOSTANDARD = "LVTTL";
#   NET  DSPDAT<13>	  LOC ="AD29"| IOSTANDARD = "LVTTL";
#   NET  DSPDAT<14>	  LOC ="AF31"| IOSTANDARD = "LVTTL";
#   NET  DSPDAT<15>	  LOC ="AE31"| IOSTANDARD = "LVTTL";
#   NET  DSPDAT<16>	  LOC ="AK31"| IOSTANDARD = "LVTTL";
#   NET  DSPDAT<17>	  LOC ="AK32"| IOSTANDARD = "LVTTL";
#   NET  DSPDAT<18>	  LOC ="AK33"| IOSTANDARD = "LVTTL";
#   NET  DSPDAT<19>	  LOC ="AK34"| IOSTANDARD = "LVTTL";
#   NET  DSPDAT<20>	  LOC ="AM32"| IOSTANDARD = "LVTTL";
#   NET  DSPDAT<21>	  LOC ="AM33"| IOSTANDARD = "LVTTL";
#   NET  DSPDAT<22>	  LOC ="AJ31"| IOSTANDARD = "LVTTL";
#   NET  DSPDAT<23>	  LOC ="AJ32"| IOSTANDARD = "LVTTL";
#   NET  DSPDAT<24>	  LOC ="AB22"| IOSTANDARD = "LVTTL";
#   NET  DSPDAT<25>	  LOC ="AB23"| IOSTANDARD = "LVTTL";
#   NET  DSPDAT<26>	  LOC ="AL33"| IOSTANDARD = "LVTTL";
#   NET  DSPDAT<27>	  LOC ="AL34"| IOSTANDARD = "LVTTL";
#   NET  DSPDAT<28>	  LOC ="AM31"| IOSTANDARD = "LVTTL";
#   NET  DSPDAT<29>	  LOC ="AL31"| IOSTANDARD = "LVTTL";
#   NET  DSPDAT<30>	  LOC ="AJ30"| IOSTANDARD = "LVTTL";
#   NET  DSPDAT<31>	  LOC ="AH30"| IOSTANDARD = "LVTTL";
#   NET  DSP_ACK	  LOC ="AB15"| IOSTANDARD = "LVTTL";
#   NET  DSP_BM	  LOC ="AH19"| IOSTANDARD = "LVTTL";
#   NET  DSP_BMS	  LOC ="AF15"| IOSTANDARD = "LVTTL";
#   NET  DSP_BOFF	  LOC ="AK14"| IOSTANDARD = "LVTTL";
#   NET  DSP_BRST	  LOC ="AN20"| IOSTANDARD = "LVTTL";
  # NET  DSP_BUSLOCK	  LOC ="AC19"| IOSTANDARD = "LVTTL";
  # NET  DSP_DMAR<0>	  LOC ="AD17"| IOSTANDARD = "LVTTL";
  # NET  DSP_DMAR<1>	  LOC ="AC17"| IOSTANDARD = "LVTTL";
  # NET  DSP_DMAR<2>	  LOC ="AM20"| IOSTANDARD = "LVTTL";
  # NET  DSP_DMAR<3>	  LOC ="AL19"| IOSTANDARD = "LVTTL";
  # NET  DSP_FLAG<0>	  LOC ="AE21"| IOSTANDARD = "LVTTL";
  # NET  DSP_FLAG<1>	  LOC ="AF21"| IOSTANDARD = "LVTTL";
  # NET  DSP_FLAG<2>	  LOC ="AP15"| IOSTANDARD = "LVTTL";
  # NET  DSP_FLAG<3>	  LOC ="AN15"| IOSTANDARD = "LVTTL";
#   NET  DSP_HBG	  LOC ="AD16"| IOSTANDARD = "LVTTL";
#   NET  DSP_HBR	  LOC ="AB18"| IOSTANDARD = "LVTTL";
  # NET  DSP_IOEN	  LOC ="AL18"| IOSTANDARD = "LVTTL";
  # NET  DSP_IORD	  LOC ="AB16"| IOSTANDARD = "LVTTL";
  # NET  DSP_IOWR	  LOC ="AB17"| IOSTANDARD = "LVTTL";
#   NET  DSP_IRQ<0>	  LOC ="AG21"| IOSTANDARD = "LVTTL";
#   NET  DSP_IRQ<1>	  LOC ="AF20"| IOSTANDARD = "LVTTL";
#   NET  DSP_IRQ<2>	  LOC ="AF14"| IOSTANDARD = "LVTTL";
#   NET  DSP_IRQ<3>	  LOC ="AG13"| IOSTANDARD = "LVTTL";
  # NET  DSP_L1DATIP<0>	  LOC ="AK29"| IOSTANDARD = "LVTTL";
  # NET  DSP_L0ACKI	  LOC ="AM18"| IOSTANDARD = "LVTTL";
  # NET  DSP_L1ACKO	  LOC ="AM15"| IOSTANDARD = "LVTTL";
  # NET  DSP_L0BCMPI	  LOC ="AM16"| IOSTANDARD = "LVTTL";
  # NET  DSP_L0BCMPO	  LOC ="AD21"| IOSTANDARD = "LVTTL";
  # NET  DSP_L1DATIN<0>	  LOC ="AJ29"| IOSTANDARD = "LVTTL";
  # NET  DSP_L1BCMPO	  LOC ="AJ20"| IOSTANDARD = "LVTTL";
  # NET  DSP_L1DATOP<0>	  LOC ="AK21"| IOSTANDARD = "LVTTL";
  # NET  DSP_L0DATON<0>	  LOC ="AM23"| IOSTANDARD = "LVTTL";
  # NET  DSP_L0ACKO	  LOC ="AM17"| IOSTANDARD = "LVTTL";
  # NET  DSP_L1CLKINN	  LOC ="AL30"| IOSTANDARD = "LVTTL";
  # NET  DSP_L1CLKOUTP	  LOC ="K18"| IOSTANDARD = "LVTTL";
  # NET  DSP_L0DATIN<0>	  LOC ="AM25"| IOSTANDARD = "LVTTL";
  # NET  DSP_L0CLKINP	  LOC ="AP29"| IOSTANDARD = "LVTTL";
  # NET  DSP_L1CLKOUTN	  LOC ="K17"| IOSTANDARD = "LVTTL";
  # NET  DSP_L1BCMPI	  LOC ="AL15"| IOSTANDARD = "LVTTL";
  # NET  DSP_L0CLKOUTN	  LOC ="AL25"| IOSTANDARD = "LVTTL";
  # NET  DSP_L1CLKINP	  LOC ="AM30"| IOSTANDARD = "LVTTL";
  # NET  DSP_L0DATOP<0>	  LOC ="AL23"| IOSTANDARD = "LVTTL";
  # NET  DSP_L1ACKI	  LOC ="AD20"| IOSTANDARD = "LVTTL";
  # NET  DSP_L0CLKINN	  LOC ="AN29"| IOSTANDARD = "LVTTL";
  # NET  DSP_L0DATIP<0>	  LOC ="AN25"| IOSTANDARD = "LVTTL";
  # NET  DSP_L1DATON<0>	  LOC ="AL21"| IOSTANDARD = "LVTTL";
  # NET  DSP_L0CLKOUTP	  LOC ="AL24"| IOSTANDARD = "LVTTL";
  # NET  DSP_L0DATIN<1>	  LOC ="AN24"| IOSTANDARD = "LVTTL";
  # NET  DSP_L1DATIP<1>	  LOC ="AF28"| IOSTANDARD = "LVTTL";
  # NET  DSP_L1DATIN<1>	  LOC ="AE27"| IOSTANDARD = "LVTTL";
  # NET  DSP_L0DATON<1>	  LOC ="AN23"| IOSTANDARD = "LVTTL";
  # NET  DSP_L0DATOP<1>	  LOC ="AN22"| IOSTANDARD = "LVTTL";
  # NET  DSP_L1DATOP<1>	  LOC ="AH28"| IOSTANDARD = "LVTTL";
  # NET  DSP_L0DATIP<1>	  LOC ="AP24"| IOSTANDARD = "LVTTL";
  # NET  DSP_L1DATON<1>	  LOC ="AH29"| IOSTANDARD = "LVTTL";
  # NET  DSP_L0DATON<2>	  LOC ="AH25"| IOSTANDARD = "LVTTL";
  # NET  DSP_L0DATOP<2>	  LOC ="AJ25"| IOSTANDARD = "LVTTL";
  # NET  DSP_L1DATIP<2>	  LOC ="AF26"| IOSTANDARD = "LVTTL";
  # NET  DSP_L1DATOP<2>	  LOC ="AP30"| IOSTANDARD = "LVTTL";
  # NET  DSP_L0DATIP<2>	  LOC ="AM26"| IOSTANDARD = "LVTTL";
  # NET  DSP_L1DATIN<2>	  LOC ="AE26"| IOSTANDARD = "LVTTL";
  # NET  DSP_L1DATON<2>	  LOC ="AN30"| IOSTANDARD = "LVTTL";
  # NET  DSP_L0DATIN<2>	  LOC ="AM27"| IOSTANDARD = "LVTTL";
  # NET  DSP_L1DATIP<3>	  LOC ="AN32"| IOSTANDARD = "LVTTL";
  # NET  DSP_L0DATIP<3>	  LOC ="AP21"| IOSTANDARD = "LVTTL";
  # NET  DSP_L0DATOP<3>	  LOC ="AL26"| IOSTANDARD = "LVTTL";
  # NET  DSP_L0DATIN<3>	  LOC ="AP22"| IOSTANDARD = "LVTTL";
  # NET  DSP_L1DATON<3>	  LOC ="AG28"| IOSTANDARD = "LVTTL";
  # NET  DSP_L1DATOP<3>	  LOC ="AG27"| IOSTANDARD = "LVTTL";
  # NET  DSP_L1DATIN<3>	  LOC ="AN33"| IOSTANDARD = "LVTTL";
  # NET  DSP_L0DATON<3>	  LOC ="AK26"| IOSTANDARD = "LVTTL";
  # NET  DSP_MSH	  LOC ="AL14"| IOSTANDARD = "LVTTL";
#   NET  DSP_RD	  LOC ="AJ22"| IOSTANDARD = "LVTTL";
#   NET  DSP_RESET	  LOC ="AG22"| IOSTANDARD = "LVTTL";
#   NET  DSP_RESET_OUT	  LOC ="AH22"| IOSTANDARD = "LVTTL";
  # NET  DSP_TMROE	  LOC ="AP20"| IOSTANDARD = "LVTTL";
#   NET  DSP_WRH	  LOC ="AJ21"| IOSTANDARD = "LVTTL";
#   NET  DSP_WRL	  LOC ="AC15"| IOSTANDARD = "LVTTL";
   NET  DWAIT	  LOC ="H33"| IOSTANDARD = "LVTTL";
  # NET  D_CSB	  LOC ="M2";
  # NET  D_CS	  LOC ="M3";
  # NET  D_DATA_READY	  LOC ="E11"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  D_RESERVED	  LOC ="G8"| IOSTANDARD = "LVTTL";
  # NET  D_SCK	  LOC ="M6";
  # NET  D_SCKB	  LOC ="M5";
  # NET  D_SDI	  LOC ="K3";
  # NET  D_SDIB	  LOC ="L3";
  # NET  D_SDO	  LOC ="K2";
  # NET  D_SDOB	  LOC ="K1";
  # NET  D_TDC_BU_RESET	  LOC ="K6";
  # NET  D_TDC_BU_RESETB	  LOC ="L6";
  # NET  D_TDC_ERROR	  LOC ="H12"| IOSTANDARD = "LVTTL";
  # NET  D_TDC_EV_RESET	  LOC ="L8";
  # NET  D_TDC_EV_RESETB	  LOC ="M8";
  # NET  D_TDC_POWERUP	  LOC ="J7"| IOSTANDARD = "LVTTL";
  # NET  D_TEMP	  LOC ="C14"| IOSTANDARD = "LVTTL";
  # NET  D_TEST1B	  LOC ="M1";
  # NET  D_TEST2B	  LOC ="P5";
  # NET  D_TEST1 	  LOC ="L1";
  # NET  D_TEST2	          LOC ="N5";
  # NET  D_TRIGGER	  LOC ="P12";
  # NET  D_TRIGGERB	  LOC ="P11";
   NET  ETRAX_IRQ	  LOC ="AK12"| IOSTANDARD = "LVTTL";
   NET  FS_PB<0>	  LOC ="AL5"| IOSTANDARD = "LVTTL";
   NET  FS_PB<1>	  LOC ="AL4"| IOSTANDARD = "LVTTL";
   NET  FS_PB<2>	  LOC ="AK4"| IOSTANDARD = "LVTTL";
   NET  FS_PB<3>	  LOC ="AJ4"| IOSTANDARD = "LVTTL";
   NET  FS_PB<4>	  LOC ="AP4"| IOSTANDARD = "LVTTL";
   NET  FS_PB<5>	  LOC ="AN4"| IOSTANDARD = "LVTTL";
   NET  FS_PB<6>	  LOC ="AD10"| IOSTANDARD = "LVTTL";
   NET  FS_PB<7>	  LOC ="AD9"| IOSTANDARD = "LVTTL";
   NET  FS_PB<8>	  LOC ="AN14"| IOSTANDARD = "LVTTL";
   NET  FS_PB<9>	  LOC ="AP14"| IOSTANDARD = "LVTTL";
   NET  FS_PB<10>	  LOC ="AJ6"| IOSTANDARD = "LVTTL";
   NET  FS_PB<11>	  LOC ="AJ5"| IOSTANDARD = "LVTTL";
   NET  FS_PB<12>	  LOC ="AK7"| IOSTANDARD = "LVTTL";
   NET  FS_PB<13>	  LOC ="AJ7"| IOSTANDARD = "LVTTL";
   NET  FS_PB<14>	  LOC ="AN3"| IOSTANDARD = "LVTTL";
   NET  FS_PB<15>	  LOC ="AN2"| IOSTANDARD = "LVTTL";
   NET  FS_PB<16>	  LOC ="AK13"| IOSTANDARD = "LVTTL";
#  NET  FS_PB<17>	  LOC ="AL13"| IOSTANDARD = "LVTTL";
   NET  FS_PB_17	  LOC ="AL13"| IOSTANDARD = "LVTTL";
   NET  FS_PC<0>	  LOC ="AL6"| IOSTANDARD = "LVTTL";
   NET  FS_PC<1>	  LOC ="AK6"| IOSTANDARD = "LVTTL";
   NET  FS_PC<2>	  LOC ="AL8"| IOSTANDARD = "LVTTL";
   NET  FS_PC<3>	  LOC ="AK8"| IOSTANDARD = "LVTTL";
   NET  FS_PC<4>	  LOC ="AH8"| IOSTANDARD = "LVTTL";
   NET  FS_PC<5>	  LOC ="AH7"| IOSTANDARD = "LVTTL";
   NET  FS_PC<6>	  LOC ="AM13"| IOSTANDARD = "LVTTL";
   NET  FS_PC<7>	  LOC ="AN13"| IOSTANDARD = "LVTTL";
   NET  FS_PC<8>	  LOC ="AM6"| IOSTANDARD = "LVTTL";
   NET  FS_PC<9>	  LOC ="AM5"| IOSTANDARD = "LVTTL";
   NET  FS_PC<10>	  LOC ="AJ10"| IOSTANDARD = "LVTTL";
   NET  FS_PC<11>	  LOC ="AJ9"| IOSTANDARD = "LVTTL";
   NET  FS_PC<12>	  LOC ="AP5"| IOSTANDARD = "LVTTL";
   NET  FS_PC<13>	  LOC ="AN5"| IOSTANDARD = "LVTTL";
   NET  FS_PC<14>	  LOC ="AP6"| IOSTANDARD = "LVTTL";
   NET  FS_PC<15>	  LOC ="AP7"| IOSTANDARD = "LVTTL";
   NET  FS_PC<16>	  LOC ="AM8"| IOSTANDARD = "LVTTL";
   NET  FS_PC<17>	  LOC ="AN8"| IOSTANDARD = "LVTTL";
  # NET  FS_PE<0>	  LOC ="V18"| IOSTANDARD = "LVTTL";
  # NET  FS_PE<1>	  LOC ="V13"| IOSTANDARD = "LVTTL";
  # NET  FS_PE<2>	  LOC ="V14"| IOSTANDARD = "LVTTL";
  # NET  FS_PE<3>	  LOC ="W17"| IOSTANDARD = "LVTTL";
  # NET  GET_DATA	  LOC ="B13"| IOSTANDARD = "LVTTL";
  # NET  GND	  LOC ="V22"| IOSTANDARD = "LVTTL";
  # NET  N<18064815>	  LOC ="T16"| IOSTANDARD = "LVTTL";
  # NET  N<18064816>	  LOC ="U17"| IOSTANDARD = "LVTTL";
  # NET  N<18064817>	  LOC ="U21"| IOSTANDARD = "LVTTL";
  # NET  N<18064818>	  LOC ="Y18"| IOSTANDARD = "LVTTL";
  # NET  N<18064820>	  LOC ="T18"| IOSTANDARD = "LVTTL";
  # NET  N<23483794>	  LOC ="W20"| IOSTANDARD = "LVTTL";
  # NET  N<23492722>	  LOC ="V20"| IOSTANDARD = "LVTTL";
  # NET  N<23538587>	  LOC ="U22"| IOSTANDARD = "LVTTL";
  # NET  N<23548060>	  LOC ="R17"| IOSTANDARD = "LVTTL";
  # NET  N<23548615>	  LOC ="U15"| IOSTANDARD = "LVTTL";
  # NET  N<24265542>	  LOC ="W21"| IOSTANDARD = "LVTTL";
  # NET  N<24267225>	  LOC ="U13"| IOSTANDARD = "LVTTL";
  # NET  N<24269436>	  LOC ="F15"| IOSTANDARD = "LVTTL";
  # NET  N<24269444>	  LOC ="D15"| IOSTANDARD = "LVTTL";
  # NET  N<24326445>	  LOC ="AJ11"| IOSTANDARD = "LVTTL";
  # NET  N<24328654>	  LOC ="AK11"| IOSTANDARD = "LVTTL";
  # NET  N<33988559>	  LOC ="J31"| IOSTANDARD = "LVTTL";
  # NET  N<33988561>	  LOC ="K31"| IOSTANDARD = "LVTTL";
  # NET  N<34495448>	  LOC ="E22"| IOSTANDARD = "LVTTL";
  # NET  N<34503651>	  LOC ="D22"| IOSTANDARD = "LVTTL";
  # NET  N<36044982>	  LOC ="AK17"| IOSTANDARD = "LVTTL";
  # NET  N<36648023>	  LOC ="AG18"| IOSTANDARD = "LVTTL";
  # NET  N<36648025>	  LOC ="AG17"| IOSTANDARD = "LVTTL";
  # NET  N<36648033>	  LOC ="AE17"| IOSTANDARD = "LVTTL";
  # NET  N<36648035>	  LOC ="AE16"| IOSTANDARD = "LVTTL";
  # NET  N<36650772>	  LOC ="AJ17"| IOSTANDARD = "LVTTL";
  # NET  N<36650774>	  LOC ="AH17"| IOSTANDARD = "LVTTL";
  # NET  N<36704661>	  LOC ="AN28"| IOSTANDARD = "LVTTL";
  # NET  N<36704663>	  LOC ="AM28"| IOSTANDARD = "LVTTL";
  # NET  N<38694350>	  LOC ="AG5"| IOSTANDARD = "LVTTL";
  # NET  N<38697708>	  LOC ="AG6"| IOSTANDARD = "LVTTL";
  # NET  N<38810822>	  LOC ="K19"| IOSTANDARD = "LVTTL";
  # NET  N<38810824>	  LOC ="J19"| IOSTANDARD = "LVTTL";
  # NET  N<38810850>	  LOC ="E16"| IOSTANDARD = "LVTTL";
  # NET  N<38810852>	  LOC ="F16"| IOSTANDARD = "LVTTL";
  # NET  N<38813734>	  LOC ="G13"| IOSTANDARD = "LVTTL";
  # NET  N<38813742>	  LOC ="M17"| IOSTANDARD = "LVTTL";
  # NET  N<38813744>	  LOC ="N17"| IOSTANDARD = "LVTTL";
  # NET  N<38813770>	  LOC ="M18"| IOSTANDARD = "LVTTL";
  # NET  N<38813772>	  LOC ="L18"| IOSTANDARD = "LVTTL";
  # NET  N<38813774>	  LOC ="F13"| IOSTANDARD = "LVTTL";
  # NET  N<38821674>	  LOC ="D19"| IOSTANDARD = "LVTTL";
  # NET  N<38821676>	  LOC ="C19"| IOSTANDARD = "LVTTL";
  # NET  N<38821684>	  LOC ="C18"| IOSTANDARD = "LVTTL";
  # NET  N<38821698>	  LOC ="C17"| IOSTANDARD = "LVTTL";
  # NET  N<38821700>	  LOC ="D17"| IOSTANDARD = "LVTTL";
  # NET  N<38821702>	  LOC ="E19"| IOSTANDARD = "LVTTL";
  # NET  N<38824618>	  LOC ="C15"| IOSTANDARD = "LVTTL";
  # NET  N<38824620>	  LOC ="M16"| IOSTANDARD = "LVTTL";
  # NET  N<38824628>	  LOC ="N15"| IOSTANDARD = "LVTTL";
  # NET  N<38824642>	  LOC ="D20"| IOSTANDARD = "LVTTL";
  # NET  N<38824644>	  LOC ="C20"| IOSTANDARD = "LVTTL";
  # NET  N<38824646>	  LOC ="D16"| IOSTANDARD = "LVTTL";
  # NET  N<38827574>	  LOC ="A20"| IOSTANDARD = "LVTTL";
  # NET  N<38827602>	  LOC ="B20"| IOSTANDARD = "LVTTL";
  # NET  N<38857742>	  LOC ="AH23"| IOSTANDARD = "LVTTL";
  # NET  N<38857748>	  LOC ="AH24"| IOSTANDARD = "LVTTL";
  # NET  N<41716249>	  LOC ="W19"| IOSTANDARD = "LVTTL";
  # NET  N<44929647>	  LOC ="J2"| IOSTANDARD = "LVTTL";
  # NET  N<44929649>	  LOC ="J1"| IOSTANDARD = "LVTTL";
  # NET  N<44985997>	  LOC ="J17"| IOSTANDARD = "LVTTL";
  # NET  N<44986035>	  LOC ="H17"| IOSTANDARD = "LVTTL";
  # NET  N<45004261>	  LOC ="AK19"| IOSTANDARD = "LVTTL";
  # NET  N<45004289>	  LOC ="AJ19"| IOSTANDARD = "LVTTL";
  # NET  N<45476888>	  LOC ="K16"| IOSTANDARD = "LVTTL";
  # NET  N<45476902>	  LOC ="L16"| IOSTANDARD = "LVTTL";
  # NET  N<46190669>	  LOC ="E18"| IOSTANDARD = "LVTTL";
  # NET  N<46190671>	  LOC ="E17"| IOSTANDARD = "LVTTL";
  # NET  N<46461605>	  LOC ="E8"| IOSTANDARD = "LVTTL";
  # NET  N<46464939>	  LOC ="E7"| IOSTANDARD = "LVTTL";
  # NET  N<46481442>	  LOC ="AD19"| IOSTANDARD = "LVTTL";
  # NET  N<46481444>	  LOC ="AE19"| IOSTANDARD = "LVTTL";
  # NET  N<46736961>	  LOC ="AC25"| IOSTANDARD = "LVTTL";
  # NET  N<46741878>	  LOC ="AD26"| IOSTANDARD = "LVTTL";
   NET  REF_TDC_CLK	  LOC ="F18";
   NET  REF_TDC_CLKB	  LOC ="G18";
   #NET  RESET_VIRT	  LOC ="AF16"| IOSTANDARD = "LVTTL";
  # NET  SFP_LOS	  LOC ="M27"| IOSTANDARD = "LVTTL";
  # NET  SFP_MOD<0>	  LOC ="R23"| IOSTANDARD = "LVTTL";
  # NET  SFP_MOD<1>	  LOC ="K32"| IOSTANDARD = "LVTTL";
  # NET  SFP_MOD<2>	  LOC ="K33"| IOSTANDARD = "LVTTL";
  # NET  SFP_RATE_SEL	  LOC ="P27"| IOSTANDARD = "LVTTL";
  # NET  SFP_TX_DIS	  LOC ="N27"| IOSTANDARD = "LVTTL";
  # NET  SFP_TX_FAULT	  LOC ="J32"| IOSTANDARD = "LVTTL";
  # NET  TDC_OUT<0>	  LOC ="D12"| IOSTANDARD = "LVTTL" | SLEW = FAST;
  # NET  TDC_OUT<1>	  LOC ="C12"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  TDC_OUT<2>	  LOC ="B10"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  TDC_OUT<3>	  LOC ="C10"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  TDC_OUT<4>	  LOC ="A11"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  TDC_OUT<5>	  LOC ="B11"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  TDC_OUT<6>	  LOC ="C9"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  TDC_OUT<7>	  LOC ="C8"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  TDC_OUT<8>	  LOC ="G12"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  TDC_OUT<9>	  LOC ="G11"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  TDC_OUT<10>	  LOC ="F10"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  TDC_OUT<11>	  LOC ="G10"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  TDC_OUT<12>	  LOC ="D11"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  TDC_OUT<13>	  LOC ="D10"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  TDC_OUT<14>	  LOC ="H10"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  TDC_OUT<15>	  LOC ="H9"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  TDC_OUT<16>	  LOC ="A14"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  TDC_OUT<17>	  LOC ="A13"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  TDC_OUT<18>	  LOC ="D7"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  TDC_OUT<19>	  LOC ="D6"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  TDC_OUT<20>	  LOC ="D9"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  TDC_OUT<21>	  LOC ="E9"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  TDC_OUT<22>	  LOC ="A4"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  TDC_OUT<23>	  LOC ="A3"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  TDC_OUT<24>	  LOC ="E13"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  TDC_OUT<25>	  LOC ="E12"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  TDC_OUT<26>	  LOC ="A5"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  TDC_OUT<27>	  LOC ="B5"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  TDC_OUT<28>	  LOC ="J9"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  TDC_OUT<29>	  LOC ="K9"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  TDC_OUT<30>	  LOC ="B3"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  TDC_OUT<31>	  LOC ="B2"| IOSTANDARD = "LVTTL"| SLEW = FAST;
  # NET  TDC_RESET	  LOC ="C5"| IOSTANDARD = "LVTTL";
  # NET  TLK_CLK	  LOC ="AG16"| IOSTANDARD = "LVTTL";
  # NET "TLK_CLK" TNM_NET =TLK_CLK;
  # TIMESPEC TS_TLK_CLK =PERIOD "TLK_CLK" 8 ns;
   # NET  TLK_ENABLE	  LOC ="R24"| IOSTANDARD = "LVTTL";
   # NET  TLK_LCKREFN	  LOC ="L28"| IOSTANDARD = "LVTTL";
   # NET  TLK_LOOPEN	  LOC ="R19"| IOSTANDARD = "LVTTL";
   # NET  TLK_PRBSEN	  LOC ="H32"| IOSTANDARD = "LVTTL";
   # NET  TLK_RXD<0>	  LOC ="G30"| IOSTANDARD = "LVTTL";
   # NET  TLK_RXD<1>	  LOC ="G31"| IOSTANDARD = "LVTTL";
   # NET  TLK_RXD<2>	  LOC ="J29"| IOSTANDARD = "LVTTL";
   # NET  TLK_RXD<3>	  LOC ="J30"| IOSTANDARD = "LVTTL";
   # NET  TLK_RXD<4>	  LOC ="E32"| IOSTANDARD = "LVTTL";
   # NET  TLK_RXD<5>	  LOC ="E33"| IOSTANDARD = "LVTTL";
   # NET  TLK_RXD<6>	  LOC ="N25"| IOSTANDARD = "LVTTL";
   # NET  TLK_RXD<7>	  LOC ="P26"| IOSTANDARD = "LVTTL";
   # NET  TLK_RXD<8>	  LOC ="P22"| IOSTANDARD = "LVTTL";
   # NET  TLK_RXD<9>	  LOC ="R21"| IOSTANDARD = "LVTTL";
   # NET  TLK_RXD<10>	  LOC ="F33"| IOSTANDARD = "LVTTL";
   # NET  TLK_RXD<11>	  LOC ="F34"| IOSTANDARD = "LVTTL";
   # NET  TLK_RXD<12>	  LOC ="K28"| IOSTANDARD = "LVTTL";
   # NET  TLK_RXD<13>	  LOC ="K29"| IOSTANDARD = "LVTTL";
   # NET  TLK_RXD<14>	  LOC ="G32"| IOSTANDARD = "LVTTL";
   # NET  TLK_RXD<15>	  LOC ="G33"| IOSTANDARD = "LVTTL";
   # NET  TLK_RX_CLK	  LOC ="AF18"| IOSTANDARD = "LVTTL";
   # NET "TLK_RX_CLK" TNM_NET =TLK_RX_CLK;
   # TIMESPEC TS_TLK_RX_CLK =PERIOD "TLK_RX_CLK" 8 ns;
   # NET  TLK_RX_DV	  LOC ="M30"| IOSTANDARD = "LVTTL";
   # NET  TLK_RX_ER	  LOC ="P20"| IOSTANDARD = "LVTTL";
   # NET  TLK_TXD<0>	  LOC ="H27"| IOSTANDARD = "LVTTL";
   # NET  TLK_TXD<1>	  LOC ="H28"| IOSTANDARD = "LVTTL";
   # NET  TLK_TXD<2>	  LOC ="C32"| IOSTANDARD = "LVTTL";
   # NET  TLK_TXD<3>	  LOC ="D32"| IOSTANDARD = "LVTTL";
   # NET  TLK_TXD<4>	  LOC ="J27"| IOSTANDARD = "LVTTL";
   # NET  TLK_TXD<5>	  LOC ="K27"| IOSTANDARD = "LVTTL";
   # NET  TLK_TXD<6>	  LOC ="M25"| IOSTANDARD = "LVTTL";
   # NET  TLK_TXD<7>	  LOC ="M26"| IOSTANDARD = "LVTTL";
   # NET  TLK_TXD<8>	  LOC ="N22"| IOSTANDARD = "LVTTL";
   # NET  TLK_TXD<9>	  LOC ="N23"| IOSTANDARD = "LVTTL";
   # NET  TLK_TXD<10>	  LOC ="H29"| IOSTANDARD = "LVTTL";
   # NET  TLK_TXD<11>	  LOC ="H30"| IOSTANDARD = "LVTTL";
   # NET  TLK_TXD<12>	  LOC ="C33"| IOSTANDARD = "LVTTL";
   # NET  TLK_TXD<13>	  LOC ="C34"| IOSTANDARD = "LVTTL";
   # NET  TLK_TXD<14>	  LOC ="D34"| IOSTANDARD = "LVTTL";
   # NET  TLK_TXD<15>	  LOC ="E34"| IOSTANDARD = "LVTTL";
   # NET  TLK_TX_EN	  LOC ="L29"| IOSTANDARD = "LVTTL";
   # NET  TLK_TX_ER	  LOC ="P24"| IOSTANDARD = "LVTTL";
  # NET  TOKEN_IN	  LOC ="E6"| IOSTANDARD = "LVTTL";
  # NET  TOKEN_OUT	  LOC ="C13"| IOSTANDARD = "LVTTL";
  # NET  VIRT_CLK	  LOC ="H19";
  # NET  VIRT_CLKB	  LOC ="H18";
  # NET  VIRT_TCK	  LOC ="K34"| IOSTANDARD = "LVTTL";
  # NET  VIRT_TDI	  LOC ="M31"| IOSTANDARD = "LVTTL";
  # NET  VIRT_TDO	  LOC ="N30"| IOSTANDARD = "LVTTL";
  # NET  VIRT_TMS	  LOC ="J34"| IOSTANDARD = "LVTTL";
  # NET  VIRT_TRST	  LOC ="N29"| IOSTANDARD = "LVTTL";
  # NET  VIR_TRIG	  LOC ="E3";
  # NET  VIR_TRIGB	  LOC ="E2";
#   NET  VSD_A<0>	  LOC ="F23"| IOSTANDARD = "LVTTL";
#   NET  VSD_A<1>	  LOC ="E23"| IOSTANDARD = "LVTTL";
#   NET  VSD_A<2>	  LOC ="D26"| IOSTANDARD = "LVTTL";
#   NET  VSD_A<3>	  LOC ="E26"| IOSTANDARD = "LVTTL";
#   NET  VSD_A<4>	  LOC ="F24"| IOSTANDARD = "LVTTL";
#   NET  VSD_A<5>	  LOC ="E24"| IOSTANDARD = "LVTTL";
#   NET  VSD_A<6>	  LOC ="D27"| IOSTANDARD = "LVTTL";
#   NET  VSD_A<7>	  LOC ="E27"| IOSTANDARD = "LVTTL";
#   NET  VSD_A<8>	  LOC ="G23"| IOSTANDARD = "LVTTL";
#   NET  VSD_A<9>	  LOC ="H24"| IOSTANDARD = "LVTTL";
#   NET  VSD_A<10>	  LOC ="A28"| IOSTANDARD = "LVTTL";
#   NET  VSD_A<11>	  LOC ="A29"| IOSTANDARD = "LVTTL";
#   NET  VSD_A<12>	  LOC ="B25"| IOSTANDARD = "LVTTL";
#   NET  VSD_BA<0>	  LOC ="C25"| IOSTANDARD = "LVTTL";
#   NET  VSD_BA<1>	  LOC ="J25"| IOSTANDARD = "LVTTL";
#   NET  VSD_CAS	  LOC ="G28"| IOSTANDARD = "LVTTL";
#   NET  VSD_CKE	  LOC ="D30"| IOSTANDARD = "LVTTL";
#   NET  VSD_CLOCK	  LOC ="B28"| IOSTANDARD = "LVTTL";
#   NET  VSD_CSEH	  LOC ="G27"| IOSTANDARD = "LVTTL";
#   NET  VSD_CSEL	  LOC ="D31"| IOSTANDARD = "LVTTL";
#   NET  VSD_D<0>	  LOC ="B23"| IOSTANDARD = "LVTTL";
#   NET  VSD_D<1>	  LOC ="A23"| IOSTANDARD = "LVTTL";
#   NET  VSD_D<2>	  LOC ="A26"| IOSTANDARD = "LVTTL";
#   NET  VSD_D<3>	  LOC ="B26"| IOSTANDARD = "LVTTL";
#   NET  VSD_D<4>	  LOC ="A24"| IOSTANDARD = "LVTTL";
#   NET  VSD_D<5>	  LOC ="A25"| IOSTANDARD = "LVTTL";
#   NET  VSD_D<6>	  LOC ="G25"| IOSTANDARD = "LVTTL";
#   NET  VSD_D<7>	  LOC ="H25"| IOSTANDARD = "LVTTL";
#   NET  VSD_D<8>	  LOC ="C23"| IOSTANDARD = "LVTTL";
#   NET  VSD_D<9>	  LOC ="C24"| IOSTANDARD = "LVTTL";
#   NET  VSD_D<10>	  LOC ="F25"| IOSTANDARD = "LVTTL";
#   NET  VSD_D<11>	  LOC ="F26"| IOSTANDARD = "LVTTL";
#   NET  VSD_D<12>	  LOC ="D24"| IOSTANDARD = "LVTTL";
#   NET  VSD_D<13>	  LOC ="D25"| IOSTANDARD = "LVTTL";
#   NET  VSD_D<14>	  LOC ="B27"| IOSTANDARD = "LVTTL";
#   NET  VSD_D<15>	  LOC ="C27"| IOSTANDARD = "LVTTL";
#   NET  VSD_D<16>	  LOC ="C22"| IOSTANDARD = "LVTTL";
#   NET  VSD_D<17>	  LOC ="B22"| IOSTANDARD = "LVTTL";
#   NET  VSD_D<18>	  LOC ="A30"| IOSTANDARD = "LVTTL";
#   NET  VSD_D<19>	  LOC ="B30"| IOSTANDARD = "LVTTL";
#   NET  VSD_D<20>	  LOC ="K24"| IOSTANDARD = "LVTTL";
#   NET  VSD_D<21>	  LOC ="J24"| IOSTANDARD = "LVTTL";
#   NET  VSD_D<22>	  LOC ="C29"| IOSTANDARD = "LVTTL";
#   NET  VSD_D<23>	  LOC ="C30"| IOSTANDARD = "LVTTL";
#   NET  VSD_D<24>	  LOC ="B21"| IOSTANDARD = "LVTTL";
#   NET  VSD_D<25>	  LOC ="A21"| IOSTANDARD = "LVTTL";
#   NET  VSD_D<26>	  LOC ="E28"| IOSTANDARD = "LVTTL";
#   NET  VSD_D<27>	  LOC ="F28"| IOSTANDARD = "LVTTL";
#   NET  VSD_D<28>	  LOC ="A31"| IOSTANDARD = "LVTTL";
#   NET  VSD_D<29>	  LOC ="B31"| IOSTANDARD = "LVTTL";
#   NET  VSD_D<30>	  LOC ="E31"| IOSTANDARD = "LVTTL";
#   NET  VSD_D<31>	  LOC ="F31"| IOSTANDARD = "LVTTL";
#   NET  VSD_DQML<0>	  LOC ="F30"| IOSTANDARD = "LVTTL";
#   NET  VSD_DQML<1>	  LOC ="D29"| IOSTANDARD = "LVTTL";
#   NET  VSD_DQML<2>	  LOC ="E29"| IOSTANDARD = "LVTTL";
#   NET  VSD_DQML<3>	  LOC ="L25"| IOSTANDARD = "LVTTL";
#   NET  VSD_RAS	  LOC ="F29"| IOSTANDARD = "LVTTL";
#   NET  VSD_WE	  LOC ="K26"| IOSTANDARD = "LVTTL";
# OFFSET=OUT 2 ns BEFORE "VIRT_CLK" HIGH;
# OFFSET=IN 6 ns BEFORE "VIRT_CLK" HIGH;

# OFFSET=IN 6 ns BEFORE "REF_TDC_CLK" HIGH;
# OFFSET=OUT 2 ns BEFORE "REF_TDC_CLK" HIGH;

 NET "CLK" TNM_NET =CLK;
 TIMESPEC TS_CLK =PERIOD "CLK" 4.9 ns;
 
 NET "clk_100" TNM_NET =clk_100;
 TIMESPEC TS_clk_100 =PERIOD "clk_100" 9 ns;
 
# NET "clk_x1" TNM_NET =clk_x1;
# TIMESPEC TS_clk_x1 =PERIOD "clk_x1" 4.9 ns;
# 
#  NET "freq1" TNM_NET =freq1;
# TIMESPEC TS_freq1 =PERIOD "freq1" 6.7 ns;

NET "sig_rnd1" TIG;
NET "sig_rnd2" TIG;
NET "sig_rnd3" TIG;

#NET "CHANNEL1_set/debug" TIG;NET "CHANNEL9_set/debug" TIG;
#NET "CHANNEL2_set/debug" TIG;NET "CHANNEL10_set/debug" TIG;
#NET "CHANNEL3_set/debug" TIG;NET "CHANNEL11_set/debug" TIG;
#NET "CHANNEL4_set/debug" TIG;NET "CHANNEL12_set/debug" TIG;
#NET "CHANNEL5_set/debug" TIG;NET "CHANNEL13_set/debug" TIG;
#NET "CHANNEL6_set/debug" TIG;NET "CHANNEL14_set/debug" TIG;
#NET "CHANNEL7_set/debug" TIG;NET "CHANNEL15_set/debug" TIG;
#NET "CHANNEL8_set/debug" TIG;NET "CHANNEL16_set/debug" TIG;

#NET "cnt_en" TIG;
#NET "reset_writer" TIG;
#NET "data_written" TIG;


#INST "state_FSM_FFd1" TNM "TG_Src1";
#INST "state_FSM_FFd2_1" TNM "TG_Src1";
#INST "CHAIN_INST1/DELAYCHAIN_gen*" TNM "TG_Dst1";
#TIMESPEC "TS_Src1_to_Dst1" FROM "TG_Src1" TO "TG_Dst1"  TIG;


#NET "CLK" TNM_NET =CLK;
#TIMESPEC TS_CLK =PERIOD "CLK" 9 ns;
#
#NET "CLK2X" TNM_NET =CLK2X;
#TIMESPEC TS_CLK2X =PERIOD "CLK2X" 4.5 ns;


# NET "REF_TDC_CLK" TNM_NET = REF_TDC_CLK;
#  TIMESPEC TS_REF_TDC_CLK = PERIOD "REF_TDC_CLK" 25 ns;

# NET "CLK" TNM_NET=CLK;
# TIMESPEC TS_CLK =PERIOD "CLK" 9 ns;

# NET "A_DATA_READY" TNM = TDC_NET_GROUP ;
# NET "B_DATA_READY" TNM = TDC_NET_GROUP ;
# NET "C_DATA_READY" TNM = TDC_NET_GROUP ;
# NET "D_DATA_READY" TNM = TDC_NET_GROUP ;
# NET "TDC_OUT<0>"  TNM = TDC_NET_GROUP ; 
# NET "TDC_OUT<1>"  TNM = TDC_NET_GROUP ; 
# NET "TDC_OUT<2>"  TNM = TDC_NET_GROUP ; 
# NET "TDC_OUT<3>"  TNM = TDC_NET_GROUP ; 
# NET "TDC_OUT<4>"  TNM = TDC_NET_GROUP ; 
# NET "TDC_OUT<5>"  TNM = TDC_NET_GROUP ; 
# NET "TDC_OUT<6>"  TNM = TDC_NET_GROUP ; 
# NET "TDC_OUT<7>"  TNM = TDC_NET_GROUP ; 
# NET "TDC_OUT<8>"  TNM = TDC_NET_GROUP ; 
# NET "TDC_OUT<9>"  TNM = TDC_NET_GROUP ; 
# NET "TDC_OUT<10>" TNM = TDC_NET_GROUP ;
# NET "TDC_OUT<11>" TNM = TDC_NET_GROUP ;
# NET "TDC_OUT<12>" TNM = TDC_NET_GROUP ;
# NET "TDC_OUT<13>" TNM = TDC_NET_GROUP ;
# NET "TDC_OUT<14>" TNM = TDC_NET_GROUP ;
# NET "TDC_OUT<15>" TNM = TDC_NET_GROUP ;
# NET "TDC_OUT<16>" TNM = TDC_NET_GROUP ;
# NET "TDC_OUT<17>" TNM = TDC_NET_GROUP ;
# NET "TDC_OUT<18>" TNM = TDC_NET_GROUP ;
# NET "TDC_OUT<19>" TNM = TDC_NET_GROUP ;
# NET "TDC_OUT<20>" TNM = TDC_NET_GROUP ;
# NET "TDC_OUT<21>" TNM = TDC_NET_GROUP ;
# NET "TDC_OUT<22>" TNM = TDC_NET_GROUP ;
# NET "TDC_OUT<23>" TNM = TDC_NET_GROUP ;
# NET "TDC_OUT<24>" TNM = TDC_NET_GROUP ;
# NET "TDC_OUT<25>" TNM = TDC_NET_GROUP ;
# NET "TDC_OUT<26>" TNM = TDC_NET_GROUP ;
# NET "TDC_OUT<27>" TNM = TDC_NET_GROUP ;
# NET "TDC_OUT<28>" TNM = TDC_NET_GROUP ;
# NET "TDC_OUT<29>" TNM = TDC_NET_GROUP ;
# NET "TDC_OUT<30>" TNM = TDC_NET_GROUP ;
# NET "TDC_OUT<31>" TNM = TDC_NET_GROUP ;

  # NET "FS_PB<0>" TNM = ETRAX_NET_GROUP ;	
  # NET "FS_PB<1>" TNM = ETRAX_NET_GROUP ;	
  # NET "FS_PB<2>" TNM = ETRAX_NET_GROUP ;	
  # NET "FS_PB<3>" TNM = ETRAX_NET_GROUP ;	
  # NET "FS_PB<4>" TNM = ETRAX_NET_GROUP ;	
  # NET "FS_PB<5>" TNM = ETRAX_NET_GROUP ;	
  # NET "FS_PB<6>" TNM = ETRAX_NET_GROUP ;	
  # NET "FS_PB<7>" TNM = ETRAX_NET_GROUP ;	
  # NET "FS_PB<8>" TNM = ETRAX_NET_GROUP ;	
  # NET "FS_PB<9>" TNM = ETRAX_NET_GROUP ;	
  # NET "FS_PB<10>" TNM = ETRAX_NET_GROUP ;	
  # NET "FS_PB<11>" TNM = ETRAX_NET_GROUP ;	
  # NET "FS_PB<12>" TNM = ETRAX_NET_GROUP ;	
  # NET "FS_PB<13>" TNM = ETRAX_NET_GROUP ;	
  # NET "FS_PB<14>" TNM = ETRAX_NET_GROUP ;	
  # NET "FS_PB<15>" TNM = ETRAX_NET_GROUP ;	
#   NET "FS_PB<16>" TNM_NET =  FS_PB_16;	
#   NET "FS_PB<17>"TNM = ETRAX_NET_GROUP ;	
#   NET "FS_PB_17"   TNM = ETRAX_NET_GROUP ;	
#   NET "FS_PC<0>"  TNM = ETRAX_NET_GROUP ;	
#   NET "FS_PC<1>"  TNM = ETRAX_NET_GROUP ;	
#   NET "FS_PC<2>"  TNM = ETRAX_NET_GROUP ;	
#   NET "FS_PC<3>"  TNM = ETRAX_NET_GROUP ;	
#   NET "FS_PC<4>"  TNM = ETRAX_NET_GROUP ;	
  # NET "FS_PC<5>"  TNM = ETRAX_NET_GROUP ;	
  # NET "FS_PC<6>"  TNM = ETRAX_NET_GROUP ;	
  # NET "FS_PC<7>"  TNM = ETRAX_NET_GROUP ;	
  # NET "FS_PC<8>"  TNM = ETRAX_NET_GROUP ;	
  # NET "FS_PC<9>"  TNM = ETRAX_NET_GROUP ;	
  # NET "FS_PC<10>" TNM = ETRAX_NET_GROUP ;	
  # NET "FS_PC<11>" TNM = ETRAX_NET_GROUP ;	
  # NET "FS_PC<12>" TNM = ETRAX_NET_GROUP ;	
  # NET "FS_PC<13>" TNM = ETRAX_NET_GROUP ;	
  # NET "FS_PC<14>" TNM = ETRAX_NET_GROUP ;		
  # NET "FS_PC<15>" TNM = ETRAX_NET_GROUP ;		
#TIMESPEC "TS_ETRAX_NET_FFS" = FROM ETRAX_NET_GROUP TO RAMS 5 ; #TO PADS
#NET "FS_PB<16>" OFFSET = OUT 6.8 ns AFTER "VIRT_CLK" HIGH;
#TIMEGRP "ETRAX_NET_GROUP" OFFSET = OUT 6.8 ns AFTER "VIRT_CLK" HIGH;


# TIMESPEC "TS_TDC_NET_FFS" = FROM TDC_NET_GROUP TO FFS 5 ; #TO PADS ....
# TIMESPEC "TS_TDC_NET_RAM" = FROM TDC_NET_GROUP TO RAMS 5 ; 

# TIMEGRP "TDC_NET_GROUP" OFFSET = IN 10 ns BEFORE "REF_TDC_CLK" HIGH;

# TIMEGRP "TDC_NET_GROUP" OFFSET = IN 11 ns AFTER "REF_TDC_CLK" HIGH;

# TIMESPEC "TS_TDC_NET_FFS" = FROM TDC_NET_GROUP TO RAMS 5;

 #NET "TOKEN_OUT" OFFSET = OUT 12.3 ns AFTER "REF_TDC_CLK" HIGH; #TDC_COINSTRAINTS
 #NET "A_TRIGGER" OFFSET = OUT 11.3 ns AFTER "REF_TDC_CLK" HIGH; #TDC_COINSTRAINTS
 #NET "B_TRIGGER" OFFSET = OUT 11.3 ns AFTER "REF_TDC_CLK" HIGH; #TDC_COINSTRAINTS
 #NET "C_TRIGGER" OFFSET = OUT 11.3 ns AFTER "REF_TDC_CLK" HIGH; #TDC_COINSTRAINTS
 #NET "D_TRIGGER" OFFSET = OUT 11.3 ns AFTER "REF_TDC_CLK" HIGH; #TDC_COINSTRAINTS

 #NET "A_TDC_BU_RESET" OFFSET = OUT 12.3 ns AFTER "REF_TDC_CLK" HIGH; #TDC_COINSTRAINTS
 #NET "A_TDC_EV_RESET" OFFSET = OUT 12.3 ns AFTER "REF_TDC_CLK" HIGH; #TDC_COINSTRAINTS
 #NET "B_TDC_BU_RESET" OFFSET = OUT 12.3 ns AFTER "REF_TDC_CLK" HIGH; #TDC_COINSTRAINTS
 #NET "B_TDC_EV_RESET" OFFSET = OUT 12.3 ns AFTER "REF_TDC_CLK" HIGH; #TDC_COINSTRAINTS
 #NET "C_TDC_BU_RESET" OFFSET = OUT 12.3 ns AFTER "REF_TDC_CLK" HIGH; #TDC_COINSTRAINTS
 #NET "C_TDC_EV_RESET" OFFSET = OUT 12.3 ns AFTER "REF_TDC_CLK" HIGH; #TDC_COINSTRAINTS
 #NET "D_TDC_BU_RESET" OFFSET = OUT 12.3 ns AFTER "REF_TDC_CLK" HIGH; #TDC_COINSTRAINTS
 #NET "D_TDC_EV_RESET" OFFSET = OUT 12.3 ns AFTER "REF_TDC_CLK" HIGH; #TDC_COINSTRAINTS


