#daemon configuration
telnet_port 4444
gdb_port 3333

 
#interface
interface ft2232
ft2232_device_desc "Amontec JTAGkey A"
ft2232_layout jtagkey
#jtag_speed 1
jtag_nsrst_delay 200
jtag_ntrst_delay 200

 
#use combined on interfaces or targets that can't set TRST/SRST separately
reset_config trst_and_srst

 
#jtag scan chain
#format L IRC IRCM IDCODE (Length, IR Capture, IR Capture Mask, IDCODE)
jtag_device 8 0x1 0x1 0xfe
jtag_device 4 0x1 0xf 0xe
jtag_device 5 0x1 0x1 0x1e

 
#target configuration
daemon_startup reset

 
#target <type> <startup mode>
#target arm966e <endianness> <reset mode> <chainpos> <variant>
target arm966e little reset_init 1 arm966e
run_and_halt_time 0 30

 
working_area 0 0x50000000 16384 nobackup

 
#flash bank <driver> <base> <size> <chip_width> <bus_width>
flash bank str9x 0x00000000 0x00080000 0 0 0

#Script used for FLASH erasing
target_script 0 reset C:\openocd-configs\str91x-configs\str91x_flasherase.ocd
