# XC9536XL-PCG44-10C

NET reset               LOC = P39;
NET clk                 LOC = P5;

NET bcd_switch<0>       LOC = P8;
NET bcd_switch<1>       LOC = P9;
NET bcd_switch<2>       LOC = P11;
NET bcd_switch<3>       LOC = P12;

NET led_n<0>            LOC = P19;
NET led_n<1>            LOC = P28;
NET led_n<2>            LOC = P26;
NET led_n<3>            LOC = P25;
NET led_n<4>            LOC = P22;
NET led_n<5>            LOC = P20;
NET led_n<6>            LOC = P27;
NET led_n<7>            LOC = P24;
